.nav-item:hover .nav-dropdown {
  display: block;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999;
  top: 58px;
  left: 0px;
  width: 200px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #E8E8E8;
}
.nav-dropdown a {
  display: block;
  padding: 10px;
  color: #314E52;
  text-decoration: none;
}
.nav-dropdown a:hover {
  background-color: #F6F6F6;
}